:root 
{
    --cmp-c-Headings: #1E1F36;
    --cmp-c-Question: #4B4C5F;
    --cmp-c-Body: #787887;
    --cmp-c-TextHover: #F47B56;
    --cmp-c-Line: #E8E8EA;
    --cmp-c-Blank: white;

    --cmp-g-1: linear-gradient(180deg, #B068E9, #6463E7);

    --cmp-f-1: "Kumbh Sans", sans-serif;
}

body {
    margin: 0;
    background: var(--cmp-g-1);
    padding: 3.33em 6.4%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}
* :last-child {
    margin-bottom: 0;
}

/* Typography */

html {
    font-size: 12px;
}

.cmp 
{
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.5;
    color: var(--cmp-c-Body);
    background-color: var(--cmp-c-Blank);
}

.cmp h1 
{
    font-size: 2.66rem;
}

.cmp h3 
{
    font-size:1.083rem;
    font-weight: 400;
    color: var(--cmp-c-Question);
}
.cmp__item.selected h3 
{
    color: var(--cmp-c-Headings);
    font-weight: bold;
}

.cmp h1, .cmp h3 
{
    color: var(--cmp-c-Headings);
}

.cmp__item.selected .cmp__body 
{
    color: var(--cmp-c-TextHover);
}

@media (min-width:768px)
{
    .cmp h3 {
        font-size: 1.16rem;
    }
}

/* Layout */

.cmp {
    padding:8em 2em 4em;
    max-width: 920px;
    border-radius: 23px;
    min-width: 327px;
    position: relative;
}

.cmp__img-box {
    display: none;
}

.cmp__img-container {
    width: 63.2%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -40%);
}

.cmp__img, .cmp__img-pattern {
    display: block;
    width: 100%;
}

.cmp__img-pattern {
    transform: translateY(-70%);
}

.cmp__title {
    text-align: center;
}

.cmp__item {
    cursor: pointer;
    border-bottom: 1px solid var(--cmp-c-Line);
}

.cmp__item:not(:first-child)
{
    padding-top: 1.58em;
}

.cmp__question {
    position: relative;
    padding-right: 2em;
}

.cmp__question::after 
{
    content: '';
    background-image: url(./images/icon-arrow-down.svg);
    background-size: cover;
    width: 8px;
    height: 4px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0px;
}

.cmp__answer {
    display: none;
}

.cmp__item.selected .cmp__answer {
    display: block;
}


@media (min-width:768px)
{
    .cmp {
        display: flex;
        align-items: center;
        padding: 7em 8em;
        padding-left: 450px;
        background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: center left -7.5em, -50em -25em;
        position: relative;
    }


    .cmp__img-container {
        display: none;
    }


    .cmp__img-box {
        display: block;
        position: absolute;
        top:50%;
        transform: translateY(-25%);
        left: -7.5em;
    }
 

    .cmp__title {
        text-align: left;
    }
}